<table border=0 cellpadding=0 cellspacing=0>
	<tr>
		<td align="left">
		<b>Payment Error</b>
		<p>
		An error occured while trying to process your payment.  If you have any questions, please
			contact our support staff.  If you feel you've received this message in error, click
			<a href="./index.php">here</a> to try again.<BR>
			<BR><BR><BR>
			<B>Response:</B>&nbsp;<{$respmsg}>
			<BR>
		</td>
	</tr>
	<tr>
		<td>&nbsp;
		</td>
	</tr>
	<tr>
		<td>&nbsp;
		</td>
	</tr>
	<tr>
		<td>&nbsp;
		</td>
	</tr>
</table>

	

